@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #FF4C29;
  --primary-dark: #E63E1C;
  --bg-light: #e9e8e8;
  --card-bg: #FFFFFF;
  --text-dark: #222222;
  --text-muted: #777777;
}